.page.page-create
  a.pull-right.btn.btn-link.title-btn(ui-sref="app.login")= __('RETURN_TO_LOGIN')
  h1= __('FORGOT_PASSWORD')

  form(ng-submit="forgotPassword(userIdentifier)")
    .form-group
      label(for="userIdentifier")= __('USERNAME_OR_EMAIL')
      input#userIdentifier.form-control(ng-model="userIdentifier", required, autofocus)

    .form-group
      button.btn.btn-primary(submitting)= __('RESET_PASSWORD')
