.page.page-create
  h1= __('RESET_PASSWORD_FOR', '{{ ::username }}')

  form(ng-submit="resetPassword(newPassword)")
    .form-group
      label(for="newPassword")= __('ENTER_NEW_PASSWORD')
      input#newPassword.form-control(type="password", ng-model="newPassword", required)

    .form-group
      button.btn.btn-primary(submitting)= __('SET_PASSWORD')
