.env
node_modules
public/components
public/uploads/*
public/digest-test.html
public/js/app.min.js
public/js/app.min.js.map
chamsocial.sql.gz
public/images/old/
public/images/avatars/user/*.jpg
public/img/*
logs/*
!.gitkeep
npm-debug.log
public/css/pages/messages.css
public/css/style.css
public/css/*.min.css
public/css/*.map
cache/images/*
newrelic_agent.log
