extends ./layout

block content
  h1 Welcome to Chamsocial, #{username}
  p Your Chamsocial signup is almost complete - please click this button to activate your account:
  p
    a.button(href=url) Activate my account now
