extends ./layout

block content
  h1 Reset the password for #{username}
  p We received a request to reset your password. If you didn't request it, please ignore this email.
  p
    a(href=url) Reset password
