
.footer-containter
  .container
    footer.footer.row
      .col-sm-4 2015 &copy;&nbsp;
        a(href="http://spathon.com") Spathon
        | ,&nbsp;
        a(href="http://info.smartmessages.net/") Synchro
        | &nbsp;and&nbsp;
        a(href="https://www.facebook.com/wallbergpetter") pWallberg

      .col-sm-4.text-center
        | Made at #{''}
        a(href="http://www.theskilocker.com") the Ski Locker

      .col-sm-4.text-right
        a(href="https://twitter.com/Chamsocial")
          i.icon-twitter-bird.twitter
        |  &nbsp;
        a(href="https://www.facebook.com/ChamSocial-750237278358018/")
          i.icon-facebook-rect.facebook
        |  &nbsp;
        a(href="#", ng-click="main.changeLang($event, 'en')") En
        |  |&nbsp;
        a(href="#", ng-click="main.changeLang($event, 'fr')") Fr
