h3= __('GROUPS')

ul
  li(ng-repeat="group in groups.slice(0,5)" ng-class="{ 'current-group': group.slug === current_group.slug}")
    a(ui-sref="app.group({ group: group.slug })") {{ group.title }}
      small.pull-right {{ group.post_count | number }}

br
ui-select(ng-model="selected_group", on-select="goToGroup($item)")
  ui-select-match(placeholder=__('MORE')) {{ $select.selected.title }}
  ui-select-choices(repeat="group in groups.slice(5) | filter: $select.search")
    div(
      ng-class="{ 'current-group-select': group.slug === current_group.slug}"
      ng-bind-html="group.title +'<small class=\"pull-right\">'+ (group.post_count | number ) +'</small>' | highlight: $select.search"
    )
br
