
.page.page-create

  h1= __('ABOUT')

  p
    | Chamonix is one of the most notorious ski resorts in the world and
    | Chamsocial is Chamonix online.
    | You can get in touch with over 11 500 users that help each other with accommodation,
    | bank issues or finding each others lost dogs.
    br
    | Get started and join us now.

  h2 History
  p
    | Chamsocial has a long history of being the largest community platform in Chamonix.
    | It was previously called ChamShare and this name is still being used by the old users.
    | During the summer 2014, the new directions of Chamsocial was set by three passionate
    | inhabitants of Chamonix and the decision to make a new platform was made.


  table.table
    tr
      td
        small ChamShare was created.
      td
        small Chamsocial took over.
      td
        small Chamsocial get new admins.
      td
        small New version of Chamsocial was launched.
    tr
      td 1999
      td 2011
      td 2014
      td 2015

  h2 Contact
  p If you have any questions or want to get in contact you can email the address:
    br
    a(href="mailto:Chamsocial@theskilocker.com") Chamsocial@theskilocker.com

